
{{#each albums}}
<div class="panel panel-default open-new-album">
  <div class="panel-body">
    <h3>New Album</h3>
  </div>
</div>
  {{#each this}}

    <div class="panel panel-default edit-album" data-attribute={{this.id}}>
      <div class="panel-body">
          <h3 class="album-title">{{this.title}}</h3>
          <h4 class="album-artist">{{this.artist}}</h4>
          {{#if this.cover}}
            <div class="album-cover">
              <img scr=''>
            </div>
          {{/if}}
          {{#if this.description}}
            <div class="album-description"></div>
          {{/if}}
          <div class="album-thoughts">{{this.thoughts}}</div>
      </div>
    </div>
  {{/each}}
{{/each}}
