$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.content {
  padding: 25px;
}

.edit-album {
  font-size: 22px;
  list-style: none;
  text-decoration: underline;
  text-transform: capitalize;
}

.open-change-password,
.sign-out {
  display: none;
}
