$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$off-white: #c3c3c3;
$white: #fff;
$grey: #444;
$bootstrap-white: #f8f8f8;
$off-black: #111;
$light-blue: #428bca;
$black: #000;

body {
  background: url('https://images.unsplash.com/photo-1461360228754-6e81c478b882?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=380f3a7f89d8679195123a4e3245791b') no-repeat center center fixed;
  background-size: cover;
  color: $grey;
  font-size: 18px;
  line-height: 1.6;
  padding: 10px;
}



.signed-in-background-1 {
  background: url('https://images.unsplash.com/photo-1444990689320-bd2a7a839644?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4c7cfe1fefafc94b44fc477725ab1ca3') no-repeat center center fixed;
  background-size: cover;
}

.signed-in-background-2 {
  background: url('https://images.unsplash.com/photo-1457689146074-bd667e343a9c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5ef6e4cd3617435b83cb3b687a699946') no-repeat center center fixed;
  background-size: cover;
}

.signed-in-background-3 {
  background: url('https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ca5701e0f1e03876b6bd3477a2390f7f') no-repeat center center fixed;
  background-size: cover;
}


.container {
  margin: 40px auto;
  max-width: 960px;
}

.content {
  padding: 25px;
}

.landing-button {
  margin-top: 10px;
}

.landing-text h1 {
  background-color: #fff;
  background-color: rgba(255, 255, 255, .5);
  border: 2px solid $white;
  border-radius: 2%;
  box-sizing: border-box;
  color: $off-black;
  display: block;
  font-size: 70px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  top: 150px;
  transition: .2s ease;
}

.landing-div {
  background-color: #fff;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5%;
  color: $off-black;
  display: block;
  font-size: 16px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  transition: .2s;
  width: 250px;
}

.landing-div:hover {
  opacity: 1;
}

.sign-in-error {
  display: none;
}

.password-span {
  color: $grey;
  font-size: 10px;
  font-style: italic;
}


.navbar {
  display: none;
}


.dropdown-toggle,
.dropdown-menu {
  border-radius: 5%;
  transition: .2s ease;
}

.dropdown-menu {
  text-align: right;
  width: 40px;
}

.dropdown-menu:hover .navbar-right {
  color: $light-blue;
}

.navbar-right {
  border: 1px solid $white;
  border-radius: 5%;
  color: $black;
  transition: .2s ease;
}


#dropdown {
  display: none;
}


.sign-up-error,
.sign-in-error {
  color: $light-blue;
  text-align: center;
}

.album-cover-error {
  text-align: center;
}

.album-cover-modal {
  float: right;
}

.delete-cover {
  display: none;
}


// Handlebars

.panel {
  border-radius: 2%;
  font-size: 18px;
  list-style: none;
  opacity: .9;
  transition: .2s ease;
}

.panel:hover {
  opacity: 1;
}

.album-artist {
  text-decoration: underline;
}

.album-thoughts {
  border-left: 2px solid $black;
  margin: 50px 0 20px;
  padding-left: 10px;
}

.album-cover {
  // float: right;
}



.album-stats {
  // float: left;

}

.new-album-error {
  color: $light-blue;
  text-align: center;
}


//Media Queries

@media (max-width:991px){
  .album-stats {
    // float: left;
    // width: 50%;
  }
}

@media (max-width:741px){
  .album-stats {
    width: 100%;
  }

}

@media (max-width: 537px){
  .landing-text h1 {
    font-size: 28px;
  }
}

@media (max-width: 441px){
  .cover-image {
    display: block;
    width: 100%;
  }
}
